@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262b40;
    --text-color: #fff;
    --main-color: #59b2f4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--snd-bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 7rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}

.logo-img {
    filter: brightness(0) invert(1);
    height: 250px;
    object-fit: contain;
}

.navbar a {
    font-size: 2.3rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

#menu-icon:hover {
    color: var(--main-color);
}

.london-travel-network {
    background-color: var(--snd-bg-color);
    color: var(--text-color);
    padding: 8rem 10% 5rem;
    line-height: 1.8;
}

.london-travel-network h2 {
    margin-top: 15rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;
    font-weight: 650;
    line-height: 1;
}

.london-travel-network-content h4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.london-travel-network-content h4:nth-of-type(2) {
    margin-bottom: 2rem;
}

.london-travel-network-content p {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.3;
}

.london-travel-network-layer h4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.london-travel-network-layer p:nth-of-type(2) {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.london-travel-network-layer ul {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 5rem;
}


.source-link a {
    color: #59b2f4;
    font-weight: bold;
    text-decoration: none;
}
  
.source-link a:hover {
    color: #4fa3f5;
    text-decoration: underline;
}

.london-travel-network-image {
    display: block;
    margin: 2rem auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 1rem;
}

.credit-img {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 61rem;
}

.credit-img a {
    text-decoration: none;
    color: #808588;
}

.credit-img a:hover {
    color: #4fa3f5;
    text-decoration: underline;
}

.london-travel-network-layer h4:nth-of-type(2) {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.london-travel-network-table {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.3;
}

.london-travel-network-table td,
.london-travel-network-table th {
    padding: 1.2rem 2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: left;
}

.source-link {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: #fff;
}

.source-link a {
    color: #59b2f4;
    font-weight: bold;
    text-decoration: none;
}
  
.source-link a:hover {
    color: #4fa3f5;
    text-decoration: underline;
}

pre code {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Fira Code', monospace;
    background-color: #1e1e1e;
    color: #e8e8e8;
    padding: 2rem;
    border-radius: 10px;
    overflow-x: auto;
    margin-bottom: 3.5rem;
    margin-top: 5rem;
}

.query-detail {
    font-size: 2.3rem;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 5rem;
}

.london-travel-network-img,
.london-travel-network-chart {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.london-travel-network-detail h4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.london-travel-network-detail ul {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 3rem;
    margin-top: 2.5rem;
}

.source-link li a,
.source-link a {
  color: var(--main-color);
  font-weight: normal;
  text-decoration: none;
}

.source-link li a:hover,
.source-link a:hover {
  color: #4fa3f5;
  text-decoration: underline;
}

.project-credit {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 1.5rem;
}

.project-credit a {
    color: #59b2f4;
    font-weight: bold;
    text-decoration: none;
}
  
.project-credit a:hover {
    color: #4fa3f5;
    text-decoration: underline;
}
  

.sql-keyword {
    background-color: #d9dddc;
    color: #222021;
    padding: 2px 6px;
    border-radius: 3.5px;
    font-size: 2.1rem;
}

span {
    color: var(--main-color);
}

.back-btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 4rem;
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    transition: background-color 0.3s ease;
}
  
  .back-btn:hover {
    background-color: #4fa3f5;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
    padding-top: 1rem;
    text-align: center;
    margin-top: 3rem;
}  

.footer-text {
   font-size: 1.6rem; 
}

.credit-link {
    color: #59b2f4;
    font-weight: bold;
    text-decoration: none;
}
  
.credit-link:hover {
    color: #4fa3f5;
    text-decoration: underline;
} 

/*BREAKPOINT*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem 3%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .london-travel-network {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .logo-img {
        height: 150px;
    }

    .london-travel-network-table td,
    .london-travel-network-table th {
        font-size: 1.6rem;
    }

    .london-travel-network-chart,
    .london-travel-network-img {
        width: 100%;
        height: auto;
    }

    .credit-img {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 617px) {
    .london-travel-network h2 {
        font-size: 2.8rem;
        text-align: center;
    }

    .london-travel-network-content p,
    .london-travel-network-detail ul li,
    .query-detail {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .london-travel-network-table td,
    .london-travel-network-table th {
        font-size: 1.4rem;
        padding: 0.6rem;
    }

    .sql-keyword {
        font-size: 1.6rem;
        padding: 1px 4px;
    }

    .london-travel-network-layer h4,
    .london-travel-network-detail h4 {
        font-size: 2.4rem;
    }

    .london-travel-network-layer p i {
        font-size: 2.2rem;
    }

    .london-travel-network-layer ul {
        font-size: 1.6rem;
        padding-left: 2rem;
    }
    
    .london-travel-network-layer ul li {
        margin-bottom: 1rem;
    }

    .credit-img {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 48%;
    }

    .london-travel-network h2 {
        font-size: 2.6rem;
    }

    .london-travel-network-content h4 {
        font-size: 2.4rem;
    }

    .london-travel-network-content p,
    .london-travel-network-detail ul li {
        font-size: 1.8rem;
    }

    .logo-img {
        height: 120px;
    }

    .london-travel-network-chart,
    .london-travel-network-img {
        border-radius: 1rem;
    }

    .london-travel-network-table td,
    .london-travel-network-table th {
         font-size: 1.4rem;
        padding: 0.6rem;
    }

    .london-travel-network-layer ul {
        padding-left: 1.5rem;
    }

    .sql-keyword {
        font-size: 1.6rem;
        padding: 1px 4px;
    }

    .london-travel-network-layer h4,
    .london-travel-network-detail h4 {
        font-size: 2.4rem;
    }

    .london-travel-network-layer p i {
        font-size: 2.2rem;
    }

    .london-travel-network-layer ul {
        font-size: 1.6rem;
        padding-left: 2rem;
    }
    
    .london-travel-network-layer ul li {
        margin-bottom: 1rem;
    }

    .back-btn {
        font-size: 1.4rem;
        padding: 0.8rem 1.5rem;
    }
}
